@import './utility/geral.css';
@import './utility/colors.css';
@import './utility/fonts.css';
@import './utility/buttons.css';

@import './dashboard/dashboard.css';
@import './loginScreen/LoginScreen.css';
@import './responsive/LoginResponse.css';